:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
  background-color: var(--slate-300);
}

.qr-card {
  max-width: 20rem;
  background-color: var(--white);
}

.qr-title {
  font-size: 1.375rem;
  line-height: 1.3;
  color: var(--slate-900);
}

.qr-text {
  line-height: 1.4;
  color: var(--slate-500);
}

.attribution {
  font-size: 0.6875rem;
  color: var(--slate-900);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}